.container {
  background-position: center center;
  background-image: linear-gradient(to bottom, #3d5afe, #41e9f5);
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coming-soon{
 color: #000;
 font-weight: bolder;
 font-size: 25px;
 font-style: italic;
}

.progress-bar{
  width: 600px;
  height: 10px;
  border-radius: 3px;
  margin-top: 10px;
}
